@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@font-face {
    font-family: hiddenfont;
    src: url(/assets/fonts/hidden.woff2);
}

:root {
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --text: #fff;
    --secondry-white-text: #e4e4e4d5;
    --secondry-text: #5c5f87;
    --not-selected: #5a5b70;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #151621;
    margin: 0;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

img {
    vertical-align: middle;
    border-style: none;
    margin-right: 15%;
}


html {
    scroll-behavior: smooth;
}

.info {
    text-align: center;
    width: 100%;
    margin: 15px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-text {
    color: var(--text);
}

.status {
    display: inline;
}

.hello {
    font-size: 30px;
    font-weight: 400;
    margin: 6px 0;
}

.gradient {
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gr-1 {
    background-image: linear-gradient(-45deg, #f7b500, #b620e0, #32c5ff);
}

.gr-2 {
    background-image: linear-gradient(-45deg, #32c5ff, #b620e0, #f7b500);
}

.maininfo {
    font-size: 54px;
    font-family: var(--font-family-sans-serif);
}

.socials {
    text-align: center;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials a {
    margin: 0 0.4rem;
    border-radius: 100%;
    border: 2px solid var(--text);
    text-align: center;
    width: fit-content;
    font-size: 14px;
    padding: 5px;
    cursor: pointer;
    display: block;
    transition: 0.2s;
    color: var(--text);
    text-decoration: none;
    color: var(--text);
    text-decoration: none;
}

.socials i {
    width: 100%;
    height: 100%;
    transition: 0.2s;
}


.socials a:hover {
    background: var(--text);
}

.proj {
    text-align: left;
    width: calc(50% - 24px);
    background: rgba(26, 28, 47, 0.5);
    border-radius: 15px;
    margin: 12px auto;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 transparent, 0 0 #0000, 0 0 transparent, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.proj img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.proj h3 {
    color: var(--secondry-text);
    margin: 0;
    font-size: 15px;
    font-weight: 400
}

.proj h1 {
    color: var(--text);
    margin: 3px 0;
    font-size: 18px;
    font-weight: 500
}

.proj p {
    color: var(--secondry-text);
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
}

.proj .info {
    margin: 8px;
    margin-top: 4px;
}

.langs {
    margin-left: auto;
    float: right;
}

.langs i {
    color: var(--not-selected);
    margin: 0 2px;
}

.shadow {
    width: 30rem;
    left: 2rem;
    top: -2rem;
    position: absolute;
}

#projects {
    flex-wrap: wrap;
    display: flex;
    align-content: middle;
    align-items: center;
    width: 70%;
}

main {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 120px;
}

.projinfo,
.projinfo2,
.aboutmepar,
.blogs {
    color: var(--secondry-text);
}

.projinfo {
    text-align: right;
    width: 30%;
    margin-left: 25px;
    height: fit-content;
}

.projinfo h2,
.projinfo2 h2,
.aboutmepar h2,
.aboutblogspar h2 {
    margin: 6px 0;
}

.proj-info {
    margin: 25px;
}

.tld {
    font-size: 0.7rem;
}

header {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    padding: 20px 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 24px;
    z-index: 2;
    max-width: 72rem;
    left: 50%;
    transform: translate(-50%);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: 0.4s;
}



.tbinfo {
    display: flex;
}

header ul a {
    font-size: 13px;
    font-weight: 500;
    margin: 0 10px;
    color: #b8b9bc;
    cursor: pointer;
    text-decoration: none;
    padding-bottom: 1px;
    transition: 0.33s ease;

}

header h3 {
    font-size: 20px;
}

header ul a:hover {
    color: var(--text);
    letter-spacing: 0.4px;
}

.projinfo2 {
    display: none;
    margin-bottom: 16px;
}

.root {
    margin-left: auto;
    margin-right: auto;
    max-width: 1950px;
    position: relative;
}

.linkinfo {
    display: block;
    position: absolute;
    background: #353964;
    border-radius: 8px;
    margin: 10px 5px auto;
    box-shadow: 0 0 transparent, 0 0 #0000, 0 0 transparent, 0 0 #0000, 0 25px 50px -12px rgb(0 0 0 / 25%);
    padding: 3px 15px;
    font-size: 14px;
    font-weight: 600;
    opacity: 0;
    transition: 0.2s;
}

.linkinfo:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -5px;
    left: 10px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #353964;
}

.hidden {
    font-family: hiddenfont !important;
    font-weight: normal !important;
}

.aboutmepar {
    margin-top: 42px;
}

.table {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid #202234;

}

.row span {
    width: 100%;
    padding: 0.8rem 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: auto;
    font-size: 14px;
    font-weight: 500;
    color: var(--text);
}

.aboutinfo {
    margin-top: 16px;
    background: rgba(26, 28, 47, 0.5);
    border-radius: 15px;
    padding: 25px;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 transparent, 0 0 #0000, 0 0 transparent, 0 0 #0000, 0 25px 50px -12px rgb(0 0 0 / 25%);
    width: 70%;
}

.row span:first-child {
    color: var(--secondry-text);
}

.projparent,
#aboutme {
    display: flex;
}

#aboutme,
.blogs {
    margin-top: 70px;
}

.aboutmepar {
    width: 30% !important;
    margin-right: 25px;
}

@media screen and (max-width: 1150px) {
    .projinfo {
        display: none;
    }

    #projects,
    .aboutmepar,
    .aboutinfo {
        width: 100% !important;
    }

    .projinfo2,
    .aboutmepar,
    .projparent,
    #aboutme {
        display: block;
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width: 730px) {
    .proj {
        width: 100%;
    }

    .maininfo {
        font-size: 35px;
    }

    .hello {
        font-size: 22px;
    }

    .tbinfo ul:nth-child(1),
    .tbinfo ul:nth-child(2) {
        display: none;
    }

    main img {
        display: none;
    }
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: var(--secondry-text);
    border: 25px;
    border-radius: 2px;
    width: 25px;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    width: 10px;
}

.snowflake {
    position: absolute;
    width: 10px;
    height: 10px;
    background: linear-gradient(white, white);
    border-radius: 50%;
    filter: drop-shadow(0 0 10px white);
}

#snow {
    width: 90vw;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes shadow {
    0% {
        box-shadow: 0 0 transparent, 0 0 #0000, 0 0 transparent, 0 0 #0000, 0 25px 50px -12px #f7b500;
    }

    50% {
        box-shadow: 0 0 transparent, 0 0 #0000, 0 0 transparent, 0 0 #0000, 0 25px 50px -12px #B620E0;
    }

    100% {
        box-shadow: 0 0 transparent, 0 0 #0000, 0 0 transparent, 0 0 #0000, 0 25px 50px -12px #32C5FF;
    }
}

.cursor::after {
    content: "|";
    background: var(--text);
    animation: blink infinite alternate 0.4s;
}

.hireme {
    background-image: linear-gradient(to right, #F7B500, #B620E0, #32C5FF);
    padding: 8px 24px;
    border-radius: 30px;
    color: var(--text);
    font-weight: 600;
    animation: shadow infinite alternate 1s;
}

.tbinfo ul:last-child a {
    margin-right: 0;
}

.row:last-child {
    border: none;
}

.line {
    width: 100%;
    height: 0.125rem;
    background-image: linear-gradient(-45deg, #32c5ff, #b620e0, #f7b500);
    margin-bottom: 40px;
}

.blur {
    filter: blur(4px);
}

footer .content {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    color: var(--secondry-text);
}

footer .content h4 {
    color: var(--secondry-text);
}

footer .box:last-child {
    text-align: right;
    max-width: 240px;
    font-size: 14px;
    margin-right: 30px;
}

@media screen and (max-width: 750px) {
    footer .content {
        flex-direction: column;
        align-items: center;
    }

    footer .content .box {
        text-align: center !important;
        margin: 0;
    }

    footer .content .box:last-child {
        margin-top: 15px
    }
}

.aboutblogspar {
    text-align: center;
}


.blog {
    background: rgba(26, 28, 47, 0.5);
    border-radius: 15px;
    padding: 25px;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 transparent, 0 0 #0000, 0 0 transparent, 0 0 #0000, 0 25px 50px -12px rgb(0 0 0 / 25%);
    width: 100%;
    margin-top: 20px;
    cursor: not-allowed;
}

.blog h2 {
    font-size: 22px;
    width: 100%;
}

.blog p {
    font-size: 12px;
    width: 100%;
}

.blog i {
    float: right;
    color: var(--not-selected);
    cursor: pointer;
}

.blog p {
    text-align: center;
    margin-top: 8px;
}

.abinfo {
    margin-top: 8px;
    display: flex;
    max-width: 265px;
    justify-content: space-between;
}

.vline {
    background: #202234;
    height: 26px;
    width: 2px;
}

.brow {
    padding: 0 5px;
}
.formPopup {
    position: absolute;
    top: 50%;
    left: 25%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    transform: translate(0, -50%);
    text-align: left;
    width: calc(50% - 24px);
    background: rgba(26, 28, 47, 0.5);
    border-radius: 15px;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 transparent, 0 0 #0000, 0 0 transparent, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.data {
    margin: 25px;
    
}
