body{
    background-color: #166088;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}
.form-group {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.check{
    display: flex;
    flex-direction: row;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}